@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');



body {
    font-family: 'Noto Serif TC', serif ,'Noto Sans TC', sans-serif;

    //捲軸底色
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #282162;
    }

    //捲軸寬度
    &::-webkit-scrollbar {
        width: 6px;
        background-color: black;
    }

    //捲軸本體顏色
    &::-webkit-scrollbar-thumb {
        background-color: #ac0b0b;
    }
}